body{
  /* background: linear-gradient( rgba(0,126,167,1) 0%, rgba(0,23,31,1) 100%); */
    background: linear-gradient(360deg, #00171F 0%, #007EA7 100%);
    margin: 0;
    width: 95vw;
}


img{
 scale: 50%;    
 border: 4px solid white;
 padding: 15px;
}

.icon{
    border: none !important;
    scale: none !important;
    padding: none !important;
}

.contname{
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 4rem;
    height: 100%;
    max-width: 100%;
}

.frame{
  width: 100vw;
  height: 100vh;
 
}

.nome{
    text-indent: -5rem;
    font-size: 50px;
     padding-left: 5rem; 
    font-family: abhaya libre, sans-serif;
}

#ellipse1{
    border: none !important;
    padding: none !important;
    scale: 190%;
    display: inline;
    position: absolute;
    bottom: 30px;
    z-index: 1;
}

#ellipse2{
    border: none !important;
    padding: none !important;
    scale: 200%;
    display: inline;
    position: absolute;
    right:0px;
    top:0px;
}

#ellipse3{
    border: none !important;
    padding: none !important;
    scale: 140%;
    display: inline;
    position: absolute;
    right:0px;
    top:800px;
}

header{
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    position:sticky;
    top:0px;
    z-index: 9;
    font-family: abhaya libre, sans-serif;
    font-size: 30px;
    color: #012B3C
}

.aboutme{
    display: flex;
    flex-direction: column;
    font-family: abhaya libre, sans-serif;  
    font-size: 70px;
    color: white;
    text-align: center;

}

.descrizione{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:white;
    text-align: center;
}

.portfolio{
    font-family: abhaya libre, sans-serif;  
    font-size: 70px;
    color: white;
    text-align: center;
}

 /* .nomeheader{
    position:absolute;
    top: 7px;
    
} */

.contprima{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 2 / 2 / 3; }
.div2 { grid-area: 2 / 2 / 3 / 3; }
.div3 { grid-area: 3 / 2 / 4 / 3; }